<div class="list-group">
  <a ng-click="resultsCtrl.clickUsersItem()" class="list-group-item">
    <span class="item">Users</span>
    <span ng-model='resultsCtrl.request' class="badge">{{resultsCtrl.usersTotal}}</span>
  </a>
  <a ng-click="resultsCtrl.clickRepositoriesItem()" class="list-group-item">
    <span>Repositories</span>
    <span ng-model='resultsCtrl.request' class="badge">{{resultsCtrl.repositoriesTotal}}</span>
  </a>
  <a ng-click="resultsCtrl.clickIssuesItem()" class="list-group-item">
    <span>Issues</span>
    <span ng-model='resultsCtrl.request' class="badge">{{resultsCtrl.issuesTotal}}</span>
  </a>
  <a ng-click="resultsCtrl.clickCodesItem()" class="list-group-item">
    <span>Codes</span>
    <span ng-model='resultsCtrl.request' class="badge">{{resultsCtrl.codesTotal}}</span>
  </a>
</div>
